@charset "UTF-8";
/* Flow Yoga Studio CSS Document */

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
 	color: inherit;
}

a:hover, a:active 
{ 
	text-decoration:none; 
	color: #53608F;
}

/* Makes Navigation in a straight line rather then list */
ul li 
{
	display: inline-block;
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #53608F;
	height: 15px;
}

#bottomBar
{
	background-color: #53608F;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	/*border-bottom: solid 1px #53608F;*/
}

/*This is a flex item*/
#logo
{
	margin-right: 200px;
}

#logo img
{
	width: 280px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	word-spacing: 50px;
	text-align: right;
	display: flex;
	flex-direction: row;
	margin: 50px 50px 0px 0px;
	font-size: 20px;
}

/* HOME - mission statment or slogan */
#mission 
{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

#missionImage img
{
	width: 100%;
}

#missionStatment 
{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
}

.missionTop
{
	font-size: 60px;
}

.missionBottom
{
	font-size: 20px;
}

/* HOME - about flow statment */
#flowTitle
{
	color: #454545;
}

#flow
{
	border: none;
	margin-top: 20px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#flowText 
{

	text-align: left;
	line-height: 22px ;
	padding: 10px 10px 20px 30px;
	background-color: hsl(225, 100%, 95%);
}

/* HOME - Find Your Flow */
.productTitle
{
	margin: 20px 0px 0px 10px;
	padding-left: 20px;
	color: #454545;
}

#productInfo 
{
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-bottom: 30px;
}

.productDesc img
{
	min-width: 260px;
	height: 220px;
	margin-top: 20px;
}

.productDesc p
{
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

/* HOME - Values */
#ourValuesTitle
{
	color: #454545;
	margin-left: 20px;
}

.ourValues
{
	line-height: 22px;
	padding: 10px 10px 0px 20px;
}

.ourValues p
{
	margin-bottom: 20px;
}
.ourValues1
{
	padding: 10px 10px 10px 10px;
	background-color: hsl(225, 100%, 95%);

}

.ourValues2
{
	display: flex;
	flex-direction: row;
  	justify-content: center;
	margin: 20px 10px 20px 10px;
	/*background-color: #53608F; */
}

.ourValuesInfo
{
	width: 30%;
	text-align: center;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color: white;

}

.ourValuesInfo p
{
	margin-bottom: 20px;
	margin-top: 5px;
}

/*align left or right maybe*/
.ourValuesInfo img
{
	width: 50px;
}

/*HOME - Footer */
#mainFooter 
{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#footerNav 
{
	margin-right: auto;
	word-spacing: 50px;
	text-align: left;

}

#copyRight 
{
	margin-left: auto;
	width: 310px;
}

/*Page 2 - ABOUT*/

/* ABOUT - What is Flow */
#about
{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

#aboutImage img
{
	width: 355px;
	padding-top: 20px;
}

#aboutFlow
{
	width: 500px;
	text-align: left;
	padding: 30px 30px 30px 40px;
	margin: 20px 0px 20px 0px;
	color: #353e5c;
	background-color: hsl(225, 100%, 95%);
	line-height: 20px;
}

#aboutFlow h2
{
	margin-left: 20px;
}

/* ABOUT - Whats your Flow (Types of yoga) */
#aboutProduct
{
	background-color: #c3c5db;
	padding: 10px 10px 0px 10px;
}

#aboutProductTitle
{
	margin: 10px 0px 0px 20px;
	color: #454545;
}

#aboutProductDescription
{
	margin-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

.aboutProductInfo h3
{
	text-align: center;
}

.aboutProductInfo
{
	/*width: 280px;*/
	width: 30%;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	background-color: hsl(225, 100%, 95%);
}

.aboutProductInfo p
{
	padding: 0px 20px 10px 20px;
	line-height: 20px;
	text-align: left;
}

/* ABOUT - Schedule */
#contentAreaBig
{
	margin-top: 30px;
	padding-bottom: 40px;
}

#contentAreaBig p
{
	margin-bottom: 20px;
}

#contentAreaBig img
{
	width: 100%;
}

/*ABOUT - Instructors*/
.instructorTitleMain
{
	margin-top: 20px;
	margin-left: 20px;
}

.instructor
{
	margin-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	background-color: #c3c5db;
}

.instructorTitle
{
	margin-top: 22px;
	margin-left: 20px;
}

.aboutInstructor
{
	width: 600px;
	margin: 20px 0px 10px 20px;
	padding: 0px 20px 0px 20px;
	color: #353e5c;
	background-color: white;
}

.aboutInstructor p
{
	padding: 0px 0px 20px 10px;
	line-height: 20px;

}

.instructorImage img
{
	width: 280px;
	height: 298px;
	padding: 20px 20px 0px 20px;
}

.aboutInstructor1
{
	width: 600px;
	margin: 20px 20px 10px 0px;
	padding: 0px 20px 0px 10px;
	color: #353e5c;
	background-color: white;
}

.aboutInstructor1 p
{
	padding: 0px 0px 20px 10px;
	line-height: 20px;
}

/*Page 3 - CONTACT*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

